.contact{
   .contact_des{
     padding:10px 0 0;
     font-size:18px;
   }
  .contact_web{
    padding:8px 0 0;
    font-size:15px;
    text-align: center;
  }
  .contact_email{
    font-size:14px;
  }
  .in_center{
    text-align: center;
  }

}
.contact.solution{
  h1{
    padding:40px 0;
  }
  .solution_img{
    width: 40%;
    margin:0 auto;
  }
}