.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:focus,.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color:#fff;
}
.product-menu>li{
    width:580px;
}

.navbar-default .navbar-nav > li > .dropdown-menu::after {
    border-bottom: 10px solid #fff;
    top: -9px;
}
.navbar-default .navbar-nav > li > .dropdown-menu::before {
    border-bottom: 10px solid #d0d0d0;
    top: -10px;
}
.navbar-default .navbar-nav > li > .dropdown-menu::after,
.navbar-default .navbar-nav > li > .dropdown-menu::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0 none;
    content: "";
    display: block;
    right: 40px;
    position: absolute;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    top: 85%;
}
.navbar-default .media-container {
    padding: 30px 25px 10px;
}
.media:first-child {
    margin-top: 0;
}
.media, .media-body {
    overflow: hidden;
    width:auto;
}
.media {
    margin-top: 15px;
    padding-bottom: 0;
}
.product-menu .media-left {
    position: relative;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media > .pull-left {
    padding-right: 10px;
}
.product-menu .media-heading {
    color: #343536;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
}
.media-heading {
    margin-bottom: 5px;
    margin-top: 0;
}
.product-menu a, .product-menu a:hover {
    color: #909090;
    text-decoration: none;
}
*, *::after, *::before {
    box-sizing: border-box;
}
.product-menu .row > * {
    border-left: 1px solid #e5e5e5;
    display: table-cell;
    float: none;
}
.col-xs-6 {
    width: 5%;
}
.product-menu .row>:first-child {
    border-left: transparent;
}
.dropdown-menu{
    min-width:120px;
}
.banner-caption{
    top:28%;
}
.caption-data{
    transform:none;
    width:47%;
    left:0;
    position:static;
}
.caption-data h1{
    text-transform:none;
    text-align:left;
    color:#fff;
}
.caption-data h3{
    font-size:16px;
    line-height: 26px;
    text-align: left;
    font-weight: 200;
    color:#fff;
}
button.cta-button {
    padding: 15px 20px;
    font-size:18px;
}
.product-menu>li {
    width: 700px;
}
.menu_header{
    text-align: center;
}
.menu_header img{
    margin:-40px auto 0;
}
.menu_dec{
    color:#999999;
    font-size:13px;
}
.navbar-default .media-container{
    padding-right:0;
}
.media-container table{
    width:100%;
}
.media-container table th {
     color:#343536;
     font-size:16px;
     font-weight: bold;
     width:25%;
    padding-left:10px;
 }
.media-container table th:first-child {
    color:#343536;
    font-size:16px;
    font-weight: bold;
    width:27%;
}
.media-container table th:nth-child(3) {
    color:#343536;
    font-size:16px;
    font-weight: bold;
    width:27%;
}
.media-container table th:nth-child(4) {
    color:#343536;
    font-size:16px;
    font-weight: bold;
}
.media-container table td img{
    width:50px;
    height:50px;
}
.media-container table td{
    color:#999999;
    font-size:12px;
}
.media-container table tr:first-child td{
}
.media-body{
    vertical-align: middle;
}
.kafka-detail>li:nth-child(even){
    font-size: 14px;
    color:#999999;
    padding-left:25px;
}
